<div class="container">

  <header>
    <h1>Idea Box</h1>
  </header>

  <section class="create-idea">
    <form class="new-idea">
      <div class="new-idea-field">
        <label class="new-idea-label">Idea Title</label>
        <input type="text" class="new-idea-title new-idea-input" placeholder="Idea Title">
      </div>
      <div class="new-idea-field">
        <label class="new-idea-label">Idea Body</label>
        <input type="text" class="new-idea-body new-idea-input" placeholder="Idea Body">
      </div>
      <input type="submit" class="new-idea-submit" value="Submit Idea">
    </form>
  </section>

  <section class="ideas"></section>

</div>
