$form-color: rgb(255, 245, 213);
$button-color: rgb(29, 178, 212);
$danger-color: rgb(196, 51, 49);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, input {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
}

.container {
  margin: auto;
  max-width: 600px;
}

.new-idea {
  background-color: $form-color;
  border: 5px solid darken($form-color, 10);
  padding: 1em;
  margin-bottom: 2em;
}

.new-idea-field {
  margin-bottom: 1em;
}

.new-idea-label {
  display:block;
  color: darken($form-color, 50);
}

.new-idea-input {
  background-color: $form-color;
  border-width: 0;
  display: block;
  font-size: 2em;
  margin: 2px 0;
  padding: 0;
  width: 100%;
}

input[type="submit"], button {
  border: 0;
  color: white;
  background-color: $button-color;
  font-size: 0.8em;
  padding: 1em;
  &:hover {
    background-color: lighten($button-color, 10);
  }
  &:active {
    background-color: darken($button-color, 10);
  }
}

.idea {
  margin-bottom: 1em;
  padding: 1em;
  border: 5px solid #EEE;
}

.idea-quality {
  text-transform: capitalize;
  font-size: 0.8em;
  &:before {
    content: 'Quality: ';
    font-weight: bold;
  }
}

.idea-buttons {
  font-size: 0.8em;
  padding: 0.5em;
  border: 1px solid #EEE;
  margin-bottom: 0.5em;
  & button {
    margin-right: 1em;
  }
}

.idea-delete {
  background-color: $danger-color;
  &:hover {
    background-color: lighten($danger-color, 10);
  }
  &:active {
    background-color: darken($danger-color, 10);
  }
}

.new-idea-messages {
  margin-bottom: 1em;
  color: $danger-color;
}
